extends layout

block content
  #listcontainer

    a(href='javascript:removeEmptyListItems();') Remove Empty
    br
    a(href='javascript:removeCheckedListItems();') Remove Checked
    br
    a(href='javascript:removeAllListItems();') Remove All
